audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    width: 3000px;
    height: 3000px;
}
audio::-webkit-media-controls-panel, video::-webkit-media-controls-panel, audio:-webkit-full-page-media::-webkit-media-controls-panel,
video:-webkit-full-page-media::-webkit-media-controls-panel {
    width: 100vw;
    height: 100vh;
}
audio{
    width: 100vw;
    height: 100vh;
}
body{height: 100vh;}